/* @custom-media --large (min-width: 1366px);
@custom-media --medium (min-width: 768px); */

/* body,
html {
    width: 100%;
}
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* .container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.no-scroll {
  overflow: hidden;
}

.no-display {
  display: none;
}

.opacity {
  opacity: 1 !important;
}

.ui-flex-center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
} */

.ui-flex-center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.price-label {display: none;}
