:root {
    --theme__color__dark: #000000;
    --theme__color__typo: #444444;
    --theme__color__icons: #7d7d7d;
    --theme__color__separator: #e4e4e4;
    --theme__color__bodybackground: #eeeeee;
    --theme__color__breadcrumbs: #757575;
    --theme__color__offconvas_navbar: #1e1e1e;
    --theme__color__CTA: #ee4e2c;
    --theme__color__CTA_hover: #cd4224;
    --theme__color__product_page_icons: #a2a2a2;
    --theme__color__links: #00a8af;
    --theme__color__wheat: #cf9c65;
    --theme__color__checkbox: #cccccc;
    --theme__color__white: #ffffff;
    --theme__color__border: #d1d1d1;
    --theme__color__gray: #333333;
}
