@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap);

@import "./components/_vars.pcss";
@import "./components/_icons.pcss";
@import "./components/_default.pcss";
@import "helpers/_mixins.pcss";
@import "./components/_navigation.pcss";
@import "./components/_page.pcss";
@import "./components/_header.pcss";
@import "./c2/_footer.pcss";
@import "./c2/_catalog-listing.pcss";

@import "c2/_typography.pcss";
@import "c2/_buttons.pcss";
@import "c2/_form-elements.pcss";
@import "c2/_tables.pcss";
@import "c2/_layout.pcss";

@import "c2/_switchers.pcss";
@import "c2/_breadcrumbs.pcss";
@import "c2/_global-messages.pcss";
@import "c2/_off-canvas.pcss";
@import "c2/_minicart.pcss";
@import "c2/_catalog-toolbar.pcss";
@import "c2/_cms-home.pcss";
@import "c2/_account.pcss";
@import "c2/_catalog-layered-navigation.pcss";
@import "c2/_cart.pcss";
@import "c2/_checkout.pcss";
@import "c2/_product-page.pcss";
@import "c2/_product-compare.pcss";
@import "c2/_modals.pcss";
