.toolbar {
    display: flex;
    justify-content: space-between;
    @mixin rhythm 0, 0, 0, 1.25;
    @media (--medium) {
        @mixin rhythm 0, 0, 0, 1.25, $breakpoint-768px;
    }
    @media (--large) {
        @mixin rhythm 0, 0, 0, 1.25, $breakpoint-1024px;
    }
}

.toolbar-amount {
    margin-right: auto;
    display: flex;
    align-items: center;
    margin-bottom: 0;

    & span {
        padding: pxtorem(4px);
    }
}

.pages,
.limiter {
    display: none;
}

.toolbar-amount,
.sorter-label {
    @media(max-width: 767px) {
        display: none;
    }
}

.modes {
    margin-right: pxtorem(16px);
    font-size: 0;
    position: relative;
}

.modes-label {
    @mixin no-display;
}

.modes-mode {
    & span {
        @mixin no-display;
    }

    &.active {
        &::after {
            color: var(--color__white);
            border-color: var(--theme__color__secondary);
            background-color: var(--theme__color__secondary);
        }
    }

    &::after {
        font-family: icomoon;
        border: 1px solid var(--theme__color__secondary);
        height: pxtorem(36px);
        width: pxtorem(36px);
        line-height: pxtorem(36px);
        display: inline-block;
        text-align: center;
        font-size: pxtorem(20px);
        @media (--large) {
            height: pxtorem(42px);
            width: pxtorem(42px);
            line-height: pxtorem(42px);
        }
    }
}

.mode-grid {
    &::after {
        content: var(--icon__grid);
    }

}

.mode-list {
    &::after {
        content: var(--icon__list);
        margin-left: -1px;
    }
}

.sorter {
    display: flex;
    align-items: center;
}

.sorter-label {
    margin-right: pxtorem(8px);
}

.sorter-options {
    width: auto;
    margin-bottom: 0;
}

.sort-asc,
.sort-desc {
    & span {
        @mixin no-display;
    }

    &::after {
        font-family: icomoon;
        display: inline-block;
    }
}

.sort-asc {
    &::after {
        content: var(--icon__arrow__up);
    }
}

.sort-desc {
    &::after {
        content: var(--icon__arrow__down);
    }
}


/*
 * Bottom toolbar
 */
.toolbar ~ .toolbar  {
    @mixin leadingBorder 1px, 1, solid;
    border-color: var(--theme__color__primary__lighter);

    & .pages,
    & .limiter {
        @mixin flex row, center, center, nowrap;
        white-space: nowrap;

        & .limiter-label,
        & .label,
        & .control,
        & select {
            padding-bottom: 0;
            margin-right: pxtorem(6px);
        }

        & select {
            margin-bottom: 0;
        }
    }

    & .control {
        display: inline-block;
    }

    & .toolbar-amount,
    & .modes,
    & .sorter {
        display: none;
    }

    @media (--medium) {
        @mixin leadingBorder 1px, 1, solid, $breakpoint-768px;
        border-color: var(--theme__color__primary__lighter);
    }

    @media (--large) {
        @mixin leadingBorder 1px, 1, solid, $breakpoint-1024px;
        border-color: var(--theme__color__primary__lighter);
    }
}

.pages-items {
    display: flex;

    & .current {
        & .page {
            color: var(--color__white);
            background-color: var(--theme__color__secondary);
        }
    }

    & .page,
    & .next {
        height: pxtorem(36px);
        width: pxtorem(36px);
        line-height: pxtorem(36px);
        text-align: center;
        margin-right: pxtorem(2px);
        background-color: var(--theme__color__primary__lighter);
        display: block;
        border-radius: pxtorem(2px);
        color: var(--theme__color__primary);
        @mixin ui-default-transition all;
        @media (--large) {
            height: pxtorem(42px);
            width: pxtorem(42px);
            line-height: pxtorem(42px);
        }

        &:hover {
            background-color: var(--theme__color__secondary);
            color: var(--color__white);
        }
    }

    & .next {
        & span {
            @mixin no-display;
        }

        &::after {
            content: var(--icon__arrow__right);
            font-family: icomoon;
        }
    }
}

.pages {
    & .label {
        @mixin no-display;
    }
}